<section>
  <div class="log-search-bar">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <span class="labelTime">From</span>
          <span>
            <ngb-timepicker [(ngModel)]="startTime" [seconds]="true"></ngb-timepicker>
          </span>
          <span>
            <button class="btn btn-primary my-5" (click)="startDate.toggle()">Start Date</button>  
            <input type="text" ngbDatepicker #startDate="ngbDatepicker"/>
          </span>
        </div>
        <div class="col-4">
          <span class="labelTime">To</span>
          <span>
            <ngb-timepicker [(ngModel)]="endTime" [seconds]="true"></ngb-timepicker>
          </span>
          <span>
            <button class="btn btn-primary my-5" (click)="endDate.toggle()">End Date</button>  
            <input type="text" ngbDatepicker #endDate="ngbDatepicker"/>
          </span>
        </div>
        <div class="col-2">
          <button 
          class="btn btn-primary btn-lg findBtn" 
          (click) = "onClickFind(startTime, endTime, startDate, endDate)"
          >Find</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="my-5">
  <h2>Logs: </h2>
</div>
<div class="my-5">
  <p>
    {{allLogs}}
  </p>
</div>


