section {
    background-color: #ededed; 
}

.log-search-bar{
    padding-top: 4rem;
    padding-bottom: 2rem;  
}
.labelTime {
    font-size: 2.5em; 
}

.findBtn {
    margin-top: 5rem;
    margin-left: 3em;
    padding: 1em;

}

.noLogs{
    margin-top: 3em;
    padding: 0.5em 2.5em; 
    font-size: 1.1em;
    font-weight: 400;  
    background-color: #f6f3f3;  
}

/* Filtering table demo */
span.ngb-highlight {
    background-color: yellow;
}

